<a routerLink="/addAppointment" routerLinkActive="active" class="mat-button primary">Add Appointment</a>
<div class="example-container mat-elevation-z8">
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
               (page)="onPageChange($event)">
</mat-paginator>
    <table mat-table [dataSource]="dataSource">
      <!-- Define columns -->
      <ng-container matColumnDef="id" class="hidden-column">
        <th mat-header-cell *matHeaderCellDef [class.hidden-column]="hideColumn">ID</th>
        <td mat-cell *matCellDef="let element" [class.hidden-column]="hideColumn">{{element.appointmentID}}</td>
      </ng-container>
      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef>Client</th>
        <td mat-cell *matCellDef="let element">{{element.client.clientName}}</td>
      </ng-container>
      <ng-container matColumnDef="appointmentStartTime">
        <th mat-header-cell *matHeaderCellDef>Appointment Start Time</th>
        <td mat-cell *matCellDef="let element; let i = index" (click)="onCellClick(i)">
          <ng-container *ngIf="selectedCellIndex !== i; else editMode">
            {{ element.appointmentStartTime | date:'yyyy-MM-dd' }}
          </ng-container>
          <ng-template #editMode>
            <input matInput [matDatepicker]="picker" [(ngModel)]="editDateValue" (click)="stopPropagation($event)">
            <button mat-button (click)="saveDate(element)">Save</button>
            <mat-datepicker #picker></mat-datepicker>
          </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="appointmentEndTime">
        <th mat-header-cell *matHeaderCellDef>Appointment End Time</th>
        <td mat-cell *matCellDef="let element">{{element.appointmentEndTime | date:'yyyy-MM-dd'}}</td>
      </ng-container>
      <ng-container matColumnDef="createddate">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let element">{{element.createdDate | date:'yyyy-MM-dd'}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDeleteDialog(element.appointmentID)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  